<div class="detail">
    <div class="description">
        <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis
            ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae
            architecto voluptate.
        </p>
        <p class="paragraph">
            Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus,
            inventore iure aliquid aliquam.
        </p>
        <ul class="list">
            <li class="list__item">Close to the beach</li>
            <li class="list__item">Breakfast included</li>
            <li class="list__item">Free airport shuttle</li>
            <li class="list__item">Free wifi in all rooms</li>
            <li class="list__item">Air conditioning and heating</li>
            <li class="list__item">Pets allowed</li>
            <li class="list__item">We speak all languages</li>
            <li class="list__item">Perfect for families</li>
        </ul>
        <div class="recommend">
            <p class="recommend__count">
                Lucy and 3 other friends recommend this hotel.
            </p>
            <div class="recommend__friends">
                <img src="img/user-3.jpg" alt="Friend 1" class="recommend__photo">
                <img src="img/user-4.jpg" alt="Friend 2" class="recommend__photo">
                <img src="img/user-5.jpg" alt="Friend 3" class="recommend__photo">
                <img src="img/user-6.jpg" alt="Friend 4" class="recommend__photo">
            </div>
        </div>
    </div>

    <div class="user-reviews">
        <figure class="review">
            <blockquote class="review__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto
                dicta animi, totam, itaque officia ex.
            </blockquote>
            <figcaption class="review__user">
                <img src="img/user-1.jpg" alt="User 1" class="review__photo">
                <div class="review__user-box">
                    <p class="review__user-name">Nick Smith</p>
                    <p class="review__user-date">Feb 23rd, 2017</p>
                </div>
                <div class="review__rating">7.8</div>
            </figcaption>
        </figure>

        <figure class="review">
            <blockquote class="review__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto
                dicta animi.
            </blockquote>
            <figcaption class="review__user">
                <img src="img/user-2.jpg" alt="User 1" class="review__photo">
                <div class="review__user-box">
                    <p class="review__user-name">Mary Thomas</p>
                    <p class="review__user-date">Sept 13th, 2017</p>
                </div>
                <div class="review__rating">9.3</div>
            </figcaption>
        </figure>

        <button class="btn-inline">Show all <span>&rarr;</span></button>
    </div>
</div>